/* The original jQuery Mobile values are included in comments 
 * after each property.
 */

/* Reason: Not using back or other btn, want more room for Header */
.ui-header .ui-title {
	margin-right:20px;
	margin-left:20px;
}
/* Original JQM: margin-left, margin-right: 90px
 */

 /* Reason: Want more space vertically so not crunched at top */
 .ui-content { padding: 25px 15px; }
/* Original JQM: .ui-content { padding: 15px; }
 */

/* Reason: Want Footer at bottom, always */
.ui-page .ui-footer { position: absolute; bottom: 0px; left: 0px; }
/* Original JQM: .ui-page .ui-footer { position: relative; }
 */

 